<div class="row">
  <div class="col-4">
    <div id="museum-list" style="height: 500px; overflow: auto;">
      <table class="table">
        <tbody>
          <tr id="dummy"></tr>
          <% @museums.each do |museum| %>
            <tr id="<%= museum.name %>">
              <td width='200px'> <img width="150px" height="120px" style="object-fit: contain;" src="<%= museum.image_url %>" /> </td>
              <td>
                <h3><%= link_to museum.name, museum_path(museum.id) %></h3>
                <p>休館日：<%= museum.holiday %></p>
                <p>開館時間：<%= museum.opening_time.strftime('%-H:%M') %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="col-8">
    <div id="map" style='height: 500px; width: 100%;'></div>
  </div>
</div>


<script>
  document.addEventListener("turbolinks:load", function(){
    let map;
  
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: { lat: <%= @museums.last.latitude %>, lng: <%= @museums.last.longitude %> }
      });
  
      var markers = locations.map(function(location) {
        return new google.maps.Marker({
          position: location.position,
          title: location.name,
          map: map,
        });
      });
      
      for (var i = 0; i < markers.length; i++) {
        let marker = markers[i];
        google.maps.event.addListener(marker, 'click', function(event) {
          let lat = marker.position.lat();
          let lng = marker.position.lng();
          let name = marker.title;

          let museumList = document.getElementById("museum-list")
          let tr = document.getElementById(name);
          let dummy = document.getElementById("dummy");
          console.log(tr.getBoundingClientRect().top);
          console.log(dummy.getBoundingClientRect().top);
          console.log('=====');
          museumList.scroll(0,  tr.getBoundingClientRect().top - dummy.getBoundingClientRect().top);
        });
      }

  }
  var locationsJson = '<%= raw @locations_json %>';
  var locations = JSON.parse(locationsJson);

  initMap();
})
</script>

