<table class="table">
  <tbody>
    <% @museums.each do |museum| %>
      <tr>
        <td width='200px'> <img width="150px" height="120px" style="object-fit: contain;" src="<%= museum.image_url %>" /> </td>
        <td>
          <h3><%= link_to museum.name, museum_path(museum.id) %></h3>
          <p>休館日：<%= museum.holiday %></p>
          <p>開館時間：<%= museum.opening_time.strftime('%-H:%M') %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="map" style='height: 500px; width: 500px;'></div>



<script>
  document.addEventListener("turbolinks:load", function(){
    let map;
  
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: { lat: <%= @museums.last.latitude %>, lng: <%= @museums.last.longitude %> }
      });
  
      var markers = locations.map(function(location) {
        return new google.maps.Marker({
          position: location,
          map: map,
        });
      });
  }
  var locationsJson = '<%= raw @locations_json %>';
  var locations = JSON.parse(locationsJson);

  initMap();
})
</script>

