<div class="container">
  <h1 class="text-center"><%= @museum.name %></h1>
  <img width="640px" height="auto" class="mx-auto d-block" src="<%= @museum.image_url %>" />
  <table class="table">
    <tbody>
      <tr>
        <th scope="row"><h4>休館日</h4></th>
        <td><%= @museum.holiday %></td>
      </tr>
      <tr>
        <th scope="row"><h4>開館時間</h4></th>
        <td><%= @museum.opening_time.strftime('%-H:%M') %></td>
      </tr>
      <tr>
        <th scope="row"><h4>閉館時間</h4></th>
        <td><%= @museum.closing_time.strftime('%-H:%M') %></td>
      </tr>
      <tr>
        <th scope="row"><h4>住所</h4></th>
        <td><%= @museum.address %></td>
      </tr>
      <tr>
        <th scope="row"><h4>電話番号</h4></th>
        <td><%= @museum.phone_number %></td>
      </tr>
      <tr>
        <th scope="row"><h4>ホームページ</h4></th>
        <td><%= link_to @museum.web_page, @museum.web_page %></td>
      </tr>
    </tbody>
  </table>
</div>

<form>
コメント：<br>
<textarea name="comment" rows="4" cols="40" placeholder="入力欄"></textarea><br>
</form>
<input type="submit" value="送信"><input type="reset" value="キャンセル">


<div id="map" style='height: 500px; width: 500px;'></div>

<script>
  document.addEventListener("turbolinks:load", function(){
    let map;
  
    function initMap() {
      geocoder = new google.maps.Geocoder()
  
      // マップを作成
      map = new google.maps.Map(document.getElementById('map'), {
        // マップの中心に表示する場所の緯度経度を指定
        center: { lat: <%= @museum.latitude %>, lng: <%= @museum.longitude %> },
        zoom: 12,
      });
  
      // マーカーを立てる場所の緯度経度を指定
      marker = new google.maps.Marker({
        position: { lat: <%= @museum.latitude %>, lng: <%= @museum.longitude %> },
        map: map
      });
    }
  
    initMap();
  })
</script>