<div class="container">
  <h1 class="text-center"><%= @museum.name %></h1>
  <img width="640px" height="auto" class="mx-auto d-block" src="<%= @museum.image_url %>" />
  <table class="table">
    <tbody>
      <tr>
        <th scope="row"><h4>休館日</h4></th>
        <td><%= @museum.holiday %></td>
      </tr>
      <tr>
        <th scope="row"><h4>開館時間</h4></th>
        <td><%= @museum.opening_time.strftime('%-H:%M') %></td>
      </tr>
      <tr>
        <th scope="row"><h4>閉館時間</h4></th>
        <td><%= @museum.closing_time.strftime('%-H:%M') %></td>
      </tr>
      <tr>
        <th scope="row"><h4>住所</h4></th>
        <td><%= @museum.address %></td>
      </tr>
      <tr>
        <th scope="row"><h4>電話番号</h4></th>
        <td><%= @museum.phone_number %></td>
      </tr>
      <tr>
        <th scope="row"><h4>ホームページ</h4></th>
        <td><%= link_to @museum.web_page, @museum.web_page %></td>
      </tr>
    </tbody>
  </table>
</div>