<div class="container">
  <h1 class="text-center"><%= @museum.name %></h1>
  <img width="640px" height="auto" class="mx-auto d-block" src="<%= @museum.image_url %>" />
  <table class="table">
    <tbody>
      <tr>
        <th scope="row"><h4>休館日</h4></th>
        <td><h2><%= @museum.holiday %></h2></td>
      </tr>
      <tr>
        <th scope="row"><h4>開館時間</h4></th>
        <td><h2><%= @museum.opening_time.strftime('%-H:%M') %></h2></td>
      </tr>
      <tr>
        <th scope="row"><h4>閉館時間</h4></th>
        <td><h2><%= @museum.closing_time.strftime('%-H:%M') %></h2></td>
      </tr>
      <tr>
        <th scope="row"><h4>住所</h4></th>
        <td>
        <h2>  
          <%= @museum.address %>
        <h2>  
          <div id="map" style='height: 350px; width: 350px;'></div>
        </td>
      </tr>
      <tr>
        <th scope="row"><h4>電話番号</h4></th>
        <td><h3><%= @museum.phone_number %></h3></td>
      </tr>
      <tr>
        <th scope="row"><h4>ホームページ</h4></th>
        <td><h4><%= link_to @museum.web_page, @museum.web_page %></h4></td>
      </tr>
    </tbody>
  </table>
</div>

<%= form_with model: @comment, url: museum_comments_path(@museum), remote: true do |f| %>
コメント：<br>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
<div class=""></div>
<body>
    <div class="mx-1">
      <div class="row">
        <div class="col-8"></div>
        <div id="comments" class="col-4">
          <%= render partial: "comments", locals: { comments: @comments } %>
        </div>
      </div>
    </div>
<div id="map" style='height: 500px; width: 500px;'></div>

<script>
  document.addEventListener("turbolinks:load", function(){
    let map;
  
    function initMap() {
      geocoder = new google.maps.Geocoder()
  
      // マップを作成
      map = new google.maps.Map(document.getElementById('map'), {
        // マップの中心に表示する場所の緯度経度を指定
        center: { lat: <%= @museum.latitude %>, lng: <%= @museum.longitude %> },
        zoom: 12,
      });
  
      // マーカーを立てる場所の緯度経度を指定
      marker = new google.maps.Marker({
        position: { lat: <%= @museum.latitude %>, lng: <%= @museum.longitude %> },
        map: map
      });
      google.maps.event.addListener(marker, 'click', function(event) {
        alert('click!');
        console.log(event);
      });
    }
  
    initMap();
  })
</script>