<!DOCTYPE html>
<html>
  <head>
    <title>MuseumTraveler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    
    <% else %>
      <%= link_to 'login', new_user_session_path %>
    <% end %>
      
    <%= yield %>
  </body>
</html>
